{% extends 'AppBundle:template:paginator_template.html.twig' %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_index') }}">Back</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    </li>
{% endblock %}
{% block header %}
    Lista de Empresas
{% endblock %}
{% block sortables %}
    <th scope="col">
        <div>
            {{ knp_pagination_sortable(items, '#', 'id') }}
        </div>
    </th>
    <th scope="col">
        <div {% if items.isSorted('nombre') %} class="btn"{% endif %}>
            {{ knp_pagination_sortable(items, 'Nombre', 'nombre') }}
        </div>
    </th>
{% endblock %}
{% block table_columns %}
    <th scope="col">Nombre</th>
    <th scope="col"></th>
    <th scope="col"></th>
{% endblock %}
{% block table_rows %}
    {% for item in items %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>
                <a href="{{ path('admin_business_edit', {'id': item.id | urlencrypt }) }}">Edit</a>
            </td>
            <td>
                <a href="{{ path('admin_business_delete', {'id': item.id | urlencrypt }) }}">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6" class="text-center">
                Sin Empresas
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block table_footer %}
    <a class="btn btn-primary btn-block" href="{{ path('admin_business_create') }}">Nueva Empresa</a>
{% endblock %}