{% extends 'AppBundle:template:paginator_template.html.twig' %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_index') }}">Back</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    </li>
{% endblock %}
{% block header %}
    Lista de Desarrolladores
{% endblock %}
{% block sortables %}
    <th scope="col">
        <div>
            {{ knp_pagination_sortable(items, '#', 'id') }}
        </div>
    </th>
    <th scope="col">
        <div {% if items.isSorted('titulo') %} class="btn"{% endif %}>
            {{ knp_pagination_sortable(items, 'Título', 'titulo') }}
        </div>
    </th>
{% endblock %}
{% block table_columns %}
    <th scope="col">Usuario</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido Paterno</th>
    <th scope="col">Apellido Materno</th>
    <th scope="col">Puesto</th>
    <th scope="col"></th>
{% endblock %}
{% block table_rows %}
    {% for item in items %}
        <tr>
            <td>{{ item.usuario.user }}</td>
            <td>{{ item.usuario.persona.nombre }}</td>
            <td>{{ item.usuario.persona.apellidop }}</td>
            <td>{{ item.usuario.persona.apellidom }}</td>
            <td>{{ item.puesto.titulo }}</td>
            <td>
                <a href="{{ path('admin_developer_edit', {'id': item.id | urlencrypt }) }}">Edit</a>
                <a href="{{ path('admin_developer_delete', {'id': item.id | urlencrypt }) }}">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6" class="text-center">
                Sin Desarrolladores
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block table_footer %}
    <a class="btn btn-primary btn-block" href="{{ path('admin_developer_create') }}">Nuevo Desarrollador</a>
{% endblock %}