{% extends 'AppBundle:template:template.html.twig' %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_project') }}">Proyectos</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_business') }}">Empresas</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_developer') }}">Desarrolladores</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_position') }}">Puestos</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    </li>
{% endblock %}
{% block header %}
    Admin dashboard
{% endblock %}
{% block body %}
{% endblock %}