{% extends 'AppBundle:template:paginator_template.html.twig' %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_index') }}">Back</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    </li>
{% endblock %}
{% block header %}
    Lista de Proyectos
{% endblock %}
{% block sortables %}
    <th scope="col">
        <div>
            {{ knp_pagination_sortable(items, '#', 'id') }}
        </div>
    </th>
    <th scope="col">
        <div {% if items.isSorted('nombre') %} class="selected"{% endif %}>
            {{ knp_pagination_sortable(items, 'Nombre', 'nombre') }}
        </div>
    </th>
    <th scope="col">
        <div {% if items.isSorted('descripcion') %} class="selected"{% endif %}>
            {{ knp_pagination_sortable(items, 'Descripción', 'descripcion') }}
        </div>
    </th>
    <th scope="col">
        <div {% if items.isSorted('fechaInicio') %} class="selected"{% endif %}>
            {{ knp_pagination_sortable(items, 'Fecha Inicio', 'fechaInicio') }}
        </div>
    </th>
    <th scope="col">
        <div {% if items.isSorted('fechaFin') %} class="selected"{% endif %}>
            {{ knp_pagination_sortable(items, 'Fecha Fin', 'fechaFin') }}
        </div>
    </th>
{% endblock %}
{% block table_columns %}
    <th scope="col">Nombre</th>
    <th scope="col">Descripción</th>
    <th scope="col">Fecha Inicio</th>
    <th scope="col">Fecha Fin</th>
    <th scope="col">Empresa</th>
    <th scope="col">Líder</th>
    <th scope="col">Progreso</th>
    <th scope="col"></th>
    <th scope="col"></th>
{% endblock %}
{% block table_rows %}
    {% for item in items %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.fechaInicio|date('d/M/Y') }}</td>
            <td>{{ item.fechaFin|date('d/M/Y') }}</td>
            <td>{{ item.empresa.nombre }}</td>
            <td>
                {% if item.lider is not null %}
                    {{ item.lider.usuario.persona.nombre }}
                    {{ item.lider.usuario.persona.apellidop }}
                    {{ item.lider.usuario.persona.apellidom }}
                {% else %}
                    Sin Líder
                {% endif %}
            </td>
            <td>
                <a id="_modal_btn" href="#" data-id="{{ item.id | urlencrypt }}" class="">
                    Ver Progreso
                </a>
            </td>
            <td>
                <a href="{{ path('admin_project_edit', {'id': item.id | urlencrypt }) }}">Edit</a>
            </td>
            <td>
                <a href="{{ path('admin_project_delete', {'id': item.id | urlencrypt }) }}">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6" class="text-center">
                Sin Proyectos
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block table_footer %}
    <a class="btn btn-primary btn-block" href="{{ path('admin_project_create') }}">Nuevo Proyecto</a>
    {# dialog modal #}
    <div class="modal fade" id="_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
        {# geretated  #}
    </div>
    {# dialog modal #}
{% endblock %}
{% block script %}
    <script>
        $(document).on("click", "#_modal_btn", function () {
            var id = $(this).data('id');
            var res = "";
            var done = false;
            var url = "http://127.0.0.1:8000/admin/project/progress/"+id;
            $.when(
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (response) {
                        res = response;
                        done = true;
                    },
                })).then(
                function () {
                    if (done) {
                        $("#_modal").html(res).modal("show");
                    }
                });
        });
    </script>
{% endblock %}