{% extends 'AppBundle:Layout:template.html.twig' %}
{% block style %}
    <style>

    </style>
{% endblock %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_index') }}">Back</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    </li>
{% endblock %}
{% block header %}
    Lista de Proyectos
{% endblock %}
{% block body %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">
                <div class="label">Ordenar por:</div>
            </th>
            <th scope="col">
                <div class="btn">
                    {{ knp_pagination_sortable(projects, '#', 'id') }}
                </div>
            </th>
            <th scope="col">
                <div class="btn" {% if projects.isSorted('nombre') %} class="btn"{% endif %}>
                    {{ knp_pagination_sortable(projects, 'Nombre', 'nombre') }}
                </div>
            </th>
            <th scope="col">
                <div class="btn" {% if projects.isSorted('fechaInicio') %} class="btn"{% endif %}>
                    {{ knp_pagination_sortable(projects, 'Fecha Inicio', 'fechaInicio') }}
                </div>
            </th>
            <th scope="col">
                <div class="btn" {% if projects.isSorted('fechaFin') %} class="btn"{% endif %}>
                    {{ knp_pagination_sortable(projects, 'Fecha Fin', 'fechaFin') }}
                </div>
            </th>
        </tr>
        </thead>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Empresa</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.nombre }}</td>
                <td>{{ project.descripcion }}</td>
                <td>{{ project.fechaInicio }}</td>
                {% if project.fechaInicio != null %}
                    <td>{{ project.fechaInicio }}</td>
                {% else %}
                    Sin fecha de inicio
                {% endif %}
                <td>{{ project.empresa.nombre }}</td>
                <td>
                    <a href="{{ path('admin_project_edit', {'id': project.id | urlencrypt }) }}">Edit</a>
                    <a href="{{ path('admin_project_delete', {'id': project.id | urlencrypt }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary btn-block" href="{{ path('admin_project_create') }}">Nuevo Proyecto</a>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>
{% endblock %}